name: run unit tests on Intel GPU.

on: 
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions: 
  contents: read

env:
  REGISTRY: localhost:5000

jobs:

  build-docker-image-latest-pvc:
    runs-on: self-hosted-pvc
    steps:
      - name: Clean workspace
        run: |
          sudo chown -R "$(id -u):$(id -g)" . || true
          git clean -ffdx || true
          git reset --hard || true
          
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          set-safe-directory: true
          clean: true

      - name: build docker image & push to local
        id: build-image
        run: |
          docker build -t xpu-kernel-ci-image:test-211 -f Dockerfile.xpu .
          docker tag xpu-kernel-ci-image:test-211 ${{ env.REGISTRY }}/xpu-kernel-ci-image:test-211
          docker push ${{ env.REGISTRY }}/xpu-kernel-ci-image:test-211

  build-docker-image-latest-bmg:
    runs-on: self-hosted-bmg
    steps:
      - name: Clean workspace
        run: |
          sudo chown -R "$(id -u):$(id -g)" . || true
          git clean -ffdx || true
          git reset --hard || true
          
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          set-safe-directory: true
          clean: true

      - name: build docker image & push to local
        id: build-image
        run: |
          docker build -t xpu-kernel-ci-image:test-211 -f Dockerfile.xpu .
          docker tag xpu-kernel-ci-image:test-211 ${{ env.REGISTRY }}/xpu-kernel-ci-image:test-211
          docker push ${{ env.REGISTRY }}/xpu-kernel-ci-image:test-211

  run-unit-tests-pvc:
    runs-on: self-hosted-pvc
    needs: build-docker-image-latest-pvc
    timeout-minutes: 40
    container:                      
      image: localhost:5000/xpu-kernel-ci-image:test-211
      options: --device /dev/dri -v /dev/dri/by-path:/dev/dri/by-path --privileged
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          set-safe-directory: true

      - name: build & install wheel
        run: |
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
          uv pip install -r requirements.txt
          MAX_JOB=128 uv pip install -e . -v

      - name: test 
        run: |
          ZE_AFFINITY_MASK=0,1 SKIP_HANG_KERNEL=1 pytest -v -s tests/
          VLLM_XPU_FORCE_XE_DEFAULT_KERNEL=1 ZE_AFFINITY_MASK=0,1 pytest -v -s tests/fused_moe/test_grouped_gemm.py::test_grouped_gemm

  clean-repo-pvc:
    runs-on: self-hosted-pvc
    needs: run-unit-tests-pvc
    steps:
      - name: Clean workspace
        run: |
          sudo chown -R "$(id -u):$(id -g)" . || true
          git clean -ffdx || true
          git reset --hard || true

  run-unit-tests-bmg:
    runs-on: self-hosted-bmg
    needs: build-docker-image-latest-bmg
    timeout-minutes: 40
    container: 
      image: localhost:5000/xpu-kernel-ci-image:test-211
      options: --device /dev/dri -v /dev/dri/by-path:/dev/dri/by-path --privileged 
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          set-safe-directory: true

      - name: build & install wheel
        run: |
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
          uv pip install -r requirements.txt
          MAX_JOBS=128 uv pip install -e . -v

      - name: test 
        run: |
          # tests/test_moe_align_block_size.py, tests/test_moe_lora_align_sum.py takes much time than expected. ignore it for now.
          ZE_AFFINITY_MASK=0,1 pytest -v -s tests/ --ignore=tests/test_lora_ops.py --ignore=tests/test_fp8_quant.py --ignore=tests/test_moe_align_block_size.py --ignore=tests/test_moe_lora_align_sum.py
          # fixme: Running lora UT separately to avoid OOM when running together with other tests.
          ZE_AFFINITY_MASK=0,1 pytest -v -s tests/test_lora_ops.py
          VLLM_XPU_FORCE_XE_DEFAULT_KERNEL=1 ZE_AFFINITY_MASK=0,1 pytest -v -s tests/fused_moe/test_grouped_gemm.py::test_grouped_gemm

  clean-repo-bmg:
    runs-on: self-hosted-bmg
    needs: run-unit-tests-bmg
    steps:
      - name: Clean workspace
        run: |
          sudo chown -R "$(id -u):$(id -g)" . || true
          git clean -ffdx || true
          git reset --hard || true